🟢Get System Info (Linux).json
{
  "name": "🟢Get System Info (Linux)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/assetinfo",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1792,
        -64
      ],
      "id": "fded12dc-2d30-43f3-a3c6-843ebb02c93e",
      "name": "Webhook",
      "webhookId": "93292ea2-57cb-4a05-ba94-261ad38cb301"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://TWENTY_INSTANCE/rest/itAssets/{{ $('Webhook').item.json.body.asset_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"cpuModel\": {{ JSON.stringify($json.cpu_model) }},\n  \"cpuCores\": {{ $json.cpu_cores }},\n  \"cpuArchitecture\": {{ JSON.stringify($json.architecture) }},\n  \"clockSpeed\": {{ $json.clock_speed }},\n  \"memory\": {{ JSON.stringify($json.ram_gb) }},\n  \"os\": {{ JSON.stringify($json.os_name) }},\n  \"osVersion\": {{ JSON.stringify($json.os_version) }},\n  \"storage\": {{ JSON.stringify($json.storage_gb) }},\n  \"ipAddresses\": {{ JSON.stringify($json.ip_addresses) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        -64
      ],
      "id": "b72a7a8e-dfc9-45e1-bfd7-8cef8f3bdb7f",
      "name": "Update IT Asset",
      "credentials": {
        "httpBearerAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "API account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LTSfvZPDydNYjleX",
          "mode": "list",
          "cachedResultUrl": "/workflow/LTSfvZPDydNYjleX",
          "cachedResultName": "🟣Get CPU Info"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "credential": "={{ $json.body.credential_id }}"
          },
          "matchingColumns": [
            "credential"
          ],
          "schema": [
            {
              "id": "credential",
              "displayName": "credential",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1344,
        -448
      ],
      "id": "f372ef9e-dea0-4c56-8478-b30e90e2e8c1",
      "name": "Get CPU info"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zAbI7VCRaFOCBbfD",
          "mode": "list",
          "cachedResultUrl": "/workflow/zAbI7VCRaFOCBbfD",
          "cachedResultName": "🟣Get Memory"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "credential": "={{ $json.body.credential_id }}"
          },
          "matchingColumns": [
            "credential"
          ],
          "schema": [
            {
              "id": "credential",
              "displayName": "credential",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1344,
        -256
      ],
      "id": "6d83da94-0bbc-45eb-a14c-41bec6063fca",
      "name": "Get Memory details"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eb1jL0eapOsXGJux",
          "mode": "list",
          "cachedResultUrl": "/workflow/eb1jL0eapOsXGJux",
          "cachedResultName": "🟣Get OS Version"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "credential": "={{ $json.body.credential_id }}"
          },
          "matchingColumns": [
            "credential"
          ],
          "schema": [
            {
              "id": "credential",
              "displayName": "credential",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1344,
        -64
      ],
      "id": "df17e96d-68b6-4d31-bbc8-2c17973f62db",
      "name": "Get distro info"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9bKb1YjwnLe2PZ9w",
          "mode": "list",
          "cachedResultUrl": "/workflow/9bKb1YjwnLe2PZ9w",
          "cachedResultName": "🟣Get Storage"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "credential": "={{ $json.body.credential_id }}"
          },
          "matchingColumns": [
            "credential"
          ],
          "schema": [
            {
              "id": "credential",
              "displayName": "credential",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1344,
        128
      ],
      "id": "d44574d7-c05b-4dfa-82a5-343d0526e9cb",
      "name": "Get storage details"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fdb72d15-c553-48f2-b4e1-515611593590",
              "leftValue": "={{ $json.body.credential_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1568,
        -64
      ],
      "id": "64c3b111-7628-41b4-af42-a3b2d2852c90",
      "name": "Credential exists?"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1120,
        -352
      ],
      "id": "1c1c28c8-5a85-451e-990e-a81b1bb60f07",
      "name": "CPU + memory merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1120,
        32
      ],
      "id": "d9895536-2ba8-48c0-98ed-dc4023e0962c",
      "name": "Distro + storage merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -672,
        -64
      ],
      "id": "9cc35ae4-a838-40c4-97c6-98dc5d0daaa9",
      "name": "Final merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -896,
        -208
      ],
      "id": "e58d7e44-7ff5-4d6a-b3dd-39c564bf60a0",
      "name": "Merge Simpson"
    },
    {
      "parameters": {
        "content": "# System Info\n## Debian-based systems\n\n- CPU info\n- Memory details\n- Distro information\n- Total storage\n- IP addresses",
        "height": 288,
        "width": 432,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2032,
        -480
      ],
      "typeVersion": 1,
      "id": "3d1f1fad-8073-4b15-bc16-0f9449a88e68",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ldYdJRIc01sXOL7z",
          "mode": "list",
          "cachedResultUrl": "/workflow/ldYdJRIc01sXOL7z",
          "cachedResultName": "🟣Get IPs"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "credential": "={{ $json.body.credential_id }}"
          },
          "matchingColumns": [
            "credential"
          ],
          "schema": [
            {
              "id": "credential",
              "displayName": "credential",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1120,
        -144
      ],
      "id": "d7052ffe-dcc7-4da4-8979-67a47e5a6cfc",
      "name": "Get IPs"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Credential exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update IT Asset": {
      "main": [
        []
      ]
    },
    "Get CPU info": {
      "main": [
        [
          {
            "node": "CPU + memory merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Memory details": {
      "main": [
        [
          {
            "node": "CPU + memory merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get distro info": {
      "main": [
        [
          {
            "node": "Distro + storage merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get storage details": {
      "main": [
        [
          {
            "node": "Distro + storage merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Credential exists?": {
      "main": [
        [
          {
            "node": "Get IPs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Memory details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get CPU info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get distro info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get storage details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CPU + memory merge": {
      "main": [
        [
          {
            "node": "Merge Simpson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Distro + storage merge": {
      "main": [
        [
          {
            "node": "Merge Simpson",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Final merge": {
      "main": [
        [
          {
            "node": "Update IT Asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Simpson": {
      "main": [
        [
          {
            "node": "Final merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get IPs": {
      "main": [
        [
          {
            "node": "Final merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ca1cad59-2cd4-4709-b309-f61a72918417",
  "meta": {
    "instanceId": "089593b0375f52cffd2e682594e43cdd96459883230a04bef809490471c267bb"
  },
  "id": "VaigunhHEjhT6gTq",
  "tags": []
}